*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
  height: 70%;
  width: 50%;
  padding: 1rem;
  border-radius: 20px;
  
}
input{
  height: 3rem;
  width: 15rem;
  border-radius: 12px;
  background-color: rgb(255, 72, 0);
}



